body {
  font-family: Arial, sans-serif;
  max-width: 960px;
  margin: 40px auto;
  background-color: #f4f7fa;
  position: relative;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
}

.section {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}


table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
}
th, td {
  padding: 8px 12px;
  vertical-align:top;
  text-align: left;
  border: 1px solid #ccc;
  overflow-wrap: break-word;
}

th {
  background-color: #f9f9f9;
  color: #666;
}

.details {
  display: none;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}

.control-panel {
  margin-bottom: 20px;
  background: #ffffff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.btn {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #005c8c;
}

.uplifting {
  background-color: #f4f7fa;
}

td a,
td {
  word-break: break-word;
}

#loading {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: none;
}
